# Day 14: Mini Project – Housing Price Prediction

We’ll use **Multiple Linear Regression** to predict housing prices.  

---

## Dataset
Features:
- `Rooms` → Number of rooms in the house  
- `Area` → Area in square feet  
- `Age` → Age of the house in years  

Target:
- `Price` → House price in ₹ (Lakhs)  

---

Goal: Train a model that predicts the **price** of a house based on its features.

In [1]:
# Day 14: Housing Price Prediction (Mini Project)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Example dataset
data = {
    "Rooms": [2, 3, 4, 3, 5, 4, 6, 7, 3, 4],
    "Area": [1000, 1500, 2000, 1800, 2500, 2300, 3000, 3500, 1600, 2100],
    "Age":  [10, 15, 20, 8, 5, 12, 7, 3, 18, 14],
    "Price": [50, 65, 80, 70, 95, 85, 110, 130, 68, 90]
}

df = pd.DataFrame(data)
df

   Rooms  Area  Age  Price
0      2  1000   10     50
1      3  1500   15     65
2      4  2000   20     80
3      3  1800    8     70
4      5  2500    5     95
5      4  2300   12     85
6      6  3000    7    110
7      7  3500    3    130
8      3  1600   18     68
9      4  2100   14     90

In [2]:
# Features and target
X = df[["Rooms", "Area", "Age"]]
y = df["Price"]

# Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

# Train model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

print("Predicted Prices:", y_pred)

Predicted Prices: [68.82289825 65.99435183 88.54512524]

In [3]:
# Evaluation
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("MSE:", mse)
print("RMSE:", rmse)
print("R² Score:", r2)

MSE: 4.744603350084375
RMSE: 2.178211043513547
R² Score: 0.9388231659731241

In [13]:
# Predict price of a new house
input_rooms = input("Enter number of rooms: ")
input_area = input("Enter area in sq ft: ")
input_age = input("Enter age of the house in years: ")

rooms = int(input_rooms)
area = int(input_area)
age = int(input_age)

new_house = pd.DataFrame({
    "Rooms": [rooms],
    "Area": [area],
    "Age": [age]
})

predicted_price = model.predict(new_house)
print(f"Predicted House Price: ₹{predicted_price[0]:.2f} Lakhs")

Predicted House Price: ₹94.26 Lakhs

### ✅ Key Learnings:
- Applied **Multiple Linear Regression** on a practical dataset.  
- Used `Rooms`, `Area`, and `Age` to predict house `Price`.  
- Evaluated model with **MSE, RMSE, and R²**.